{
	"env": {
		"browser": true,
		"es6": true,
		"jest": true
	},
	"extends": [
		"react-app",
		"airbnb",
		"plugin:@typescript-eslint/recommended",
		"prettier/@typescript-eslint"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": ["jsx-a11y", "import", "prettier", "react", "react-hooks"],
	"rules": {
		"import/prefer-default-export": "off",
		"jsx-quotes": ["error", "prefer-single"],
		"quotes": ["error", "single"],
		"react/jsx-filename-extension": [
			"error",
			{
				"extensions": [".js", ".jsx", "tsx"]
			}
		],
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/explicit-member-accessibility": "off",
		"settings": {
			"import/parsers": {
				"@typescript-eslint/parser": [".ts", ".tsx"]
			},
			"import/resolver": {
				"typescript": {
					"paths": ["src"]
				}
			}
		},
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"import/no-unresolved": 0,
		"linebreak-style": 0,
		"no-tabs": 0
	}
}
